/* override the size of callouts plugin */
.panel-body {
  padding: 0px;
	padding-right:15px;
	padding-left:15px;
}

.panel-heading {
  border-bottom: 10px solid transparent;
	padding: 0px 0px;
	padding-left:10px;
}

.markdown-section pre {
  line-height: 1.3;
}

.page-inner {
	max-width: 100% !important;
	width: 100% !important;
  padding-left: 32px !important;
}

.intopic-toc{
	margin: unset !important;
}
